<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TABSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <TABSync.Properties.Settings>
            <setting name="TABPath" serializeAs="String">
                <value>C:\Temp\Abbott\TABs</value>
            </setting>
            <setting name="CSVPath" serializeAs="String">
                <value>C:\Temp\Abbott\CSVs</value>
            </setting>
            <setting name="OrderHeadPrefix" serializeAs="String">
                <value>orders</value>
            </setting>
            <setting name="OrderLinePrefix" serializeAs="String">
                <value>lines</value>
            </setting>
            <setting name="DMTPath" serializeAs="String">
                <value>c:\Temp\Abbott\DMT</value>
            </setting>
        </TABSync.Properties.Settings>
    </applicationSettings>
</configuration>